@model CaminhaoModel
@{
    ViewData["Title"] = "Editar caminhão";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Caminhão</h1>

</div>

<form asp-controller="Caminhao" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="nome">Nome do caminhão</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do caminhão">
    </div>
    <br />

    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição do caminhão">
    </div>
    <br />

    <div class="form-group">
        <label for="datadecriacao">Data de criação</label>
        <input type="datetime-local" asp-for="DataDeCriacao" class="form-control" placeholder="Selecione a data">
    </div>
    <br />

    <button type="submit" class="btn btn-primary btn-block">Editar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Caminhao" asp-action="Index" role="button">Voltar</a>
</form>